USE [master]
GO
/****** Object:  Database [china_importadores]    Script Date: 14/05/2026 01:50:49 p. m. ******/
CREATE DATABASE [china_importadores]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'china_importadores', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\china_importadores.mdf' , SIZE = 2957312KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'china_importadores_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\china_importadores_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [china_importadores].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [china_importadores]
GO
/****** Object:  Table [dbo].[ams_exhibitor]    Script Date: 14/05/2026 01:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ams_exhibitor](
	[id_exhibitor] [int] IDENTITY(1,1) NOT NULL,
	[exhibitor_id] [nvarchar](200) NOT NULL,
	[score] [float] NULL,
	[jump_label_id] [nvarchar](10) NULL,
	[rewrite_id] [nvarchar](200) NULL,
	[exhibitor_name] [nvarchar](300) NOT NULL,
	[sort_key] [nvarchar](300) NULL,
	[href] [nvarchar](500) NULL,
	[logo] [nvarchar](500) NULL,
	[address_street] [nvarchar](300) NULL,
	[address_city] [nvarchar](200) NULL,
	[address_zip] [nvarchar](20) NULL,
	[address_tel] [nvarchar](50) NULL,
	[address_country_iso3] [nvarchar](5) NULL,
	[address_country_label] [nvarchar](100) NULL,
	[address_email] [nvarchar](300) NULL,
	[loaded_at] [datetime] NOT NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_exhibitor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_ams_exhibitor_id] UNIQUE NONCLUSTERED 
(
	[exhibitor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ams_category]    Script Date: 14/05/2026 01:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ams_category](
	[id_category] [int] IDENTITY(1,1) NOT NULL,
	[id_exhibitor] [int] NOT NULL,
	[category_id] [nvarchar](100) NULL,
	[category_name] [nvarchar](300) NULL,
	[subcategory_id] [nvarchar](100) NULL,
	[subcategory_name] [nvarchar](500) NULL,
	[loaded_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ams_stand]    Script Date: 14/05/2026 01:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ams_stand](
	[id_stand] [int] IDENTITY(1,1) NOT NULL,
	[id_exhibitor] [int] NOT NULL,
	[presentation_name] [nvarchar](300) NULL,
	[exhibitor_url_rewrite] [nvarchar](300) NULL,
	[hall_and_level] [nvarchar](20) NULL,
	[first_booth_number] [nvarchar](20) NULL,
	[loaded_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_stand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[penta_import]    Script Date: 14/05/2026 01:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penta_import](
	[id_import] [int] IDENTITY(1,1) NOT NULL,
	[id_exhibitor] [int] NOT NULL,
	[id_job] [int] NULL,
	[ordinal] [bigint] NULL,
	[ship_date] [date] NULL,
	[document] [nvarchar](50) NULL,
	[hs_code] [nvarchar](20) NULL,
	[origin_country] [nvarchar](100) NULL,
	[importer] [nvarchar](300) NULL,
	[importer_ruc] [nvarchar](20) NULL,
	[importer_address] [nvarchar](500) NULL,
	[importer_city] [nvarchar](200) NULL,
	[supplier] [nvarchar](300) NULL,
	[supplier_address] [nvarchar](500) NULL,
	[supplier_city] [nvarchar](200) NULL,
	[customs] [nvarchar](100) NULL,
	[transport] [nvarchar](50) NULL,
	[usd_cif] [decimal](18, 2) NULL,
	[usd_unit] [decimal](18, 4) NULL,
	[gross_weight_kg] [decimal](18, 3) NULL,
	[quantity] [decimal](18, 3) NULL,
	[quantity_unit] [nvarchar](20) NULL,
	[volume] [decimal](18, 3) NULL,
	[volume_unit] [nvarchar](20) NULL,
	[description] [nvarchar](1000) NULL,
	[loaded_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_import] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_import_detail]    Script Date: 14/05/2026 01:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_import_detail] AS
SELECT
    e.id_exhibitor,
    e.exhibitor_name                  AS supplier_ams,
    e.address_country_iso3            AS supplier_country,
    e.address_city                    AS supplier_city_ams,
    e.href                            AS supplier_website,
    cat.category_name,
    cat.subcategory_name,
    st.hall_and_level,
    st.first_booth_number,
    i.supplier                        AS supplier_penta,
    i.importer,
    i.importer_ruc                    AS rfc,
    i.importer_city,
    i.customs,
    i.transport,
    i.hs_code,
    i.description,
    i.ship_date,
    YEAR(i.ship_date)                 AS ship_year,
    MONTH(i.ship_date)                AS ship_month,
    i.usd_cif,
    i.usd_unit,
    i.gross_weight_kg,
    i.quantity,
    i.quantity_unit
FROM ams_exhibitor e
    LEFT JOIN ams_category cat
        ON  cat.id_exhibitor = e.id_exhibitor
        AND cat.id_category  = (
            SELECT MIN(c2.id_category)
            FROM   ams_category c2
            WHERE  c2.id_exhibitor = e.id_exhibitor
        )
    LEFT JOIN ams_stand st
        ON  st.id_exhibitor = e.id_exhibitor
        AND st.id_stand     = (
            SELECT MIN(s2.id_stand)
            FROM   ams_stand s2
            WHERE  s2.id_exhibitor = e.id_exhibitor
        )
    LEFT JOIN penta_import i ON i.id_exhibitor = e.id_exhibitor
WHERE e.active = 1;
GO
/****** Object:  View [dbo].[vw_top_importers]    Script Date: 14/05/2026 01:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_top_importers] AS
SELECT
    i.importer,
    i.importer_ruc                    AS rfc,
    i.importer_city,
    COUNT(DISTINCT e.id_exhibitor)    AS unique_suppliers,
    COUNT(i.id_import)                AS shipments,
    SUM(i.usd_cif)                    AS total_usd_cif,
    AVG(i.usd_cif)                    AS avg_usd_cif,
    SUM(i.gross_weight_kg)            AS total_kg,
    MIN(i.ship_date)                  AS first_shipment,
    MAX(i.ship_date)                  AS last_shipment
FROM penta_import i
    INNER JOIN ams_exhibitor e ON e.id_exhibitor = i.id_exhibitor
WHERE i.importer IS NOT NULL
GROUP BY i.importer, i.importer_ruc, i.importer_city;
GO
/****** Object:  View [dbo].[vw_top_suppliers]    Script Date: 14/05/2026 01:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_top_suppliers] AS
SELECT
    e.exhibitor_name,
    e.href                            AS website,
    cat.category_name,
    COUNT(DISTINCT i.importer)        AS mx_importers,
    COUNT(i.id_import)                AS shipments,
    SUM(i.usd_cif)                    AS total_usd_cif,
    SUM(i.gross_weight_kg)            AS total_kg
FROM ams_exhibitor e
    LEFT JOIN ams_category cat
        ON  cat.id_exhibitor = e.id_exhibitor
        AND cat.id_category  = (
            SELECT MIN(c2.id_category)
            FROM   ams_category c2
            WHERE  c2.id_exhibitor = e.id_exhibitor
        )
    LEFT JOIN penta_import i ON i.id_exhibitor = e.id_exhibitor
WHERE e.address_country_iso3 = 'CHN'
GROUP BY e.exhibitor_name, e.href, cat.category_name;
GO
/****** Object:  Table [dbo].[_migrations]    Script Date: 14/05/2026 01:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_migrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[filename] [nvarchar](100) NOT NULL,
	[applied_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[filename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[name_alias]    Script Date: 14/05/2026 01:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[name_alias](
	[id_alias] [int] IDENTITY(1,1) NOT NULL,
	[exhibitor_name] [nvarchar](300) NOT NULL,
	[search_term] [nvarchar](300) NOT NULL,
	[source] [varchar](20) NOT NULL,
	[success_count] [int] NOT NULL,
	[loaded_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_alias] UNIQUE NONCLUSTERED 
(
	[exhibitor_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[penta_job_log]    Script Date: 14/05/2026 01:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penta_job_log](
	[id_job] [int] IDENTITY(1,1) NOT NULL,
	[id_exhibitor] [int] NOT NULL,
	[period_start] [date] NOT NULL,
	[period_end] [date] NOT NULL,
	[tracking_code] [nvarchar](100) NULL,
	[file_url] [nvarchar](500) NULL,
	[row_count] [int] NULL,
	[status] [varchar](20) NOT NULL,
	[error_msg] [nvarchar](1000) NULL,
	[executed_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_job] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[penta_supplier_key]    Script Date: 14/05/2026 01:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penta_supplier_key](
	[id_key] [int] IDENTITY(1,1) NOT NULL,
	[id_exhibitor] [int] NOT NULL,
	[clave] [varchar](20) NOT NULL,
	[nombre] [nvarchar](300) NOT NULL,
	[country] [varchar](5) NOT NULL,
	[loaded_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_penta_clave] UNIQUE NONCLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_ams_country]    Script Date: 14/05/2026 01:50:50 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_ams_country] ON [dbo].[ams_exhibitor]
(
	[address_country_iso3] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_ams_name]    Script Date: 14/05/2026 01:50:50 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_ams_name] ON [dbo].[ams_exhibitor]
(
	[exhibitor_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_alias_name]    Script Date: 14/05/2026 01:50:50 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_alias_name] ON [dbo].[name_alias]
(
	[exhibitor_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_import_exhibitor]    Script Date: 14/05/2026 01:50:50 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_import_exhibitor] ON [dbo].[penta_import]
(
	[id_exhibitor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_import_hs_code]    Script Date: 14/05/2026 01:50:50 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_import_hs_code] ON [dbo].[penta_import]
(
	[hs_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_import_importer]    Script Date: 14/05/2026 01:50:50 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_import_importer] ON [dbo].[penta_import]
(
	[importer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_import_ship_date]    Script Date: 14/05/2026 01:50:50 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_import_ship_date] ON [dbo].[penta_import]
(
	[ship_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_import_usd_cif]    Script Date: 14/05/2026 01:50:50 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_import_usd_cif] ON [dbo].[penta_import]
(
	[usd_cif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_penta_key_exhibitor]    Script Date: 14/05/2026 01:50:50 p. m. ******/
CREATE NONCLUSTERED INDEX [ix_penta_key_exhibitor] ON [dbo].[penta_supplier_key]
(
	[id_exhibitor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[_migrations] ADD  DEFAULT (getdate()) FOR [applied_at]
GO
ALTER TABLE [dbo].[ams_category] ADD  DEFAULT (getdate()) FOR [loaded_at]
GO
ALTER TABLE [dbo].[ams_exhibitor] ADD  DEFAULT (getdate()) FOR [loaded_at]
GO
ALTER TABLE [dbo].[ams_exhibitor] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[ams_stand] ADD  DEFAULT (getdate()) FOR [loaded_at]
GO
ALTER TABLE [dbo].[name_alias] ADD  DEFAULT ('manual') FOR [source]
GO
ALTER TABLE [dbo].[name_alias] ADD  DEFAULT ((1)) FOR [success_count]
GO
ALTER TABLE [dbo].[name_alias] ADD  DEFAULT (getdate()) FOR [loaded_at]
GO
ALTER TABLE [dbo].[penta_import] ADD  DEFAULT (getdate()) FOR [loaded_at]
GO
ALTER TABLE [dbo].[penta_job_log] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[penta_job_log] ADD  DEFAULT (getdate()) FOR [executed_at]
GO
ALTER TABLE [dbo].[penta_supplier_key] ADD  DEFAULT ('CN') FOR [country]
GO
ALTER TABLE [dbo].[penta_supplier_key] ADD  DEFAULT (getdate()) FOR [loaded_at]
GO
ALTER TABLE [dbo].[ams_category]  WITH CHECK ADD FOREIGN KEY([id_exhibitor])
REFERENCES [dbo].[ams_exhibitor] ([id_exhibitor])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ams_stand]  WITH CHECK ADD FOREIGN KEY([id_exhibitor])
REFERENCES [dbo].[ams_exhibitor] ([id_exhibitor])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[penta_import]  WITH CHECK ADD FOREIGN KEY([id_exhibitor])
REFERENCES [dbo].[ams_exhibitor] ([id_exhibitor])
GO
ALTER TABLE [dbo].[penta_import]  WITH CHECK ADD FOREIGN KEY([id_job])
REFERENCES [dbo].[penta_job_log] ([id_job])
GO
ALTER TABLE [dbo].[penta_job_log]  WITH CHECK ADD FOREIGN KEY([id_exhibitor])
REFERENCES [dbo].[ams_exhibitor] ([id_exhibitor])
GO
ALTER TABLE [dbo].[penta_supplier_key]  WITH CHECK ADD FOREIGN KEY([id_exhibitor])
REFERENCES [dbo].[ams_exhibitor] ([id_exhibitor])
GO
USE [master]
GO
